<div class="banner">
  <p>
  <span id="banner-typed-text"></span>
</p>
</div>


<div class="container">
  <div class="jumbotron <%= @api_color %>">
    <h1 class="display-4"> <%= @city %></h1>
    <p class="lead"> <p>Latitude: <%= @latitude %></p> <p>Longitude: <%= @longitude %></p></p>
    <p>Weather Forecast: <%= @weather_forecast %></p>
    <p>Observed AQI value: <%= @aqi %></p>
    <hr class="my-4">
  </div>
</div>
